/* garrett-zaino color palette */
//PRIMARY - Antique Beige
$color-pri-01: #f6f1e9;
$color-pri-02: #f1e9dd;
$color-pri-03: #e8dcca;
$color-pri-04: #958d82;
$color-pri-05: #5f5a53;

//SECONDARY - Prarie Sage
$color-sec-01: #e0e0d1;
$color-sec-02: #d8d8c6;
$color-sec-03: #c2c2a6;
$color-sec-04: #7c7c6a;
$color-sec-05: #4f4f44;

//TERTIARY - Olivewood
$color-ter-01: #ddd9d1;
$color-ter-02: #cac3b8;
$color-ter-03: #aca190;
$color-ter-04: #6e675c;
$color-ter-05: #46423b;
 	
/* garrett-zaino accents */
//SUCCESS
$color-suc-01: #e5e8ca;
$color-suc-02: #bcc189;

//WARNING
$color-war-01: #fbfcbd;
$color-war-02: #fafd6f;

//ERROR
$color-err-01: #e8cdca;
$color-err-02: #e7948b;

//INFORMATION
$color-inf-01: #cae5e8;
$color-inf-02: #8ad7e1;

//ATTENTION
$color-att-01: #ffdca6;
$color-att-02: #f2b350;

//BASICS
$color-white: #ffffff;
$color-black: #000000;

/* Mapping to SLDS variable */

//BACKGROUND

$color-background: $color-pri-03;
$color-background-alt: $color-white;
$color-background-alt-2: $color-sec-02;
$color-background-alt-inverse: $color-ter-04;
$color-background-row-hover: $color-pri-02;
$color-background-row-active: $color-pri-03;
$color-background-row-selected: $color-sec-03;
$color-background-row-new: $color-att-01;
$color-background-inverse: $color-ter-05;
$color-background-anchor: $color-pri-02;
$color-background-browser: $color-pri-04;
$color-background-chrome-mobile: $color-sec-04;
$color-background-chrome-desktop: $color-white;
$color-background-customer: $color-att-02;
$color-background-highlight: $color-att-01;
$color-background-actionbar-icon-utility: $color-sec-04;
$color-background-indicator-dot: $color-ter-02;
$color-background-modal: $color-white;
$color-background-modal-brand: $color-sec-03;
$color-background-notification-badge: $color-war-02;
$color-background-notification-badge-hover: $color-inf-01;
$color-background-notification-badge-focus: $color-inf-01;
$color-background-notification-badge-active: $color-inf-02;
$color-background-notification-new: $color-pri-01;
$color-background-org-switcher-arrow: $color-ter-05;
$color-background-payload: $color-pri-02;
$color-background-shade: $color-ter-01;
$color-background-stencil: $color-pri-01;
$color-background-stencil-alt: $color-ter-01;
$color-background-temp-modal: $color-ter-02;
$color-background-temp-modal-tint: $color-ter-02;
$color-background-temp-modal-tint-alt: $color-white;
$color-background-scrollbar: $color-ter-01;
$color-background-scrollbar-track: $color-ter-02;
$color-brand: $color-sec-03;
$color-brand-dark: $color-sec-04;
$color-background-button-brand: $color-sec-04;
$color-background-button-brand-active: $color-sec-05;
$color-background-button-brand-hover: $color-sec-02;
$color-background-button-brand-disabled: $color-ter-01;
$color-background-button-default: $color-white;
$color-background-button-default-hover: $color-pri-02;
$color-background-button-default-focus: $color-pri-02;
$color-background-button-default-active: $color-pri-01;
$color-background-button-default-disabled: $color-white;
$color-background-button-icon-hover: $color-pri-02;
$color-background-button-icon-focus: $color-pri-02;
$color-background-button-icon-active: $color-pri-01;
$color-background-button-icon-disabled: $color-white;
$color-background-input: $color-white;
$color-background-input-active: $color-white;
$color-background-input-checkbox: $color-white;
$color-background-input-checkbox-disabled: $color-pri-04;
$color-background-input-checkbox-selected: $color-sec-03;
$color-background-input-disabled: $color-ter-02;
$color-background-input-error: $color-err-01;
$color-background-pill: $color-white;
$color-background-error: $color-err-02;
$color-background-error-alt: $color-err-01;
$color-background-success: $color-suc-02;
$color-background-toast: $color-pri-04;
$color-background-toast-success: $color-suc-01;
$color-background-toast-error: $color-err-02;
$color-background-warning: $color-war-02;

//FONT COLOR
$color-text-button-brand: $color-white;
$color-text-button-brand-hover: $color-white;
$color-text-button-brand-active: $color-white;
$color-text-button-brand-disabled: $color-white;
$color-text-button-default: $color-sec-03;
$color-text-button-default-hover: $color-sec-03;
$color-text-button-default-active: $color-sec-03;
$color-text-button-default-disabled: $color-ter-02;
$color-text-button-deafult-hint: $color-ter-03;
$color-text-button-inverse: $color-ter-02;
$color-text-button-inverse-disabled: $color-ter-04;
$color-text-icon-default: $color-pri-04;
$color-text-icon-default-hint: $color-sec-03;
$color-text-icon-default-hover: $color-sec-03;
$color-text-icon-default-active: $color-pri-05;
$color-text-icon-defaults-disabled: $color-ter-02;
$color-text-icon-inverse: $color-white;
$color-text-icon-inverse-hover: $color-white;
$color-text-icon-inverse-active: $color-white;
$color-text-icon-inverse-disabled: $color-ter-02;
$color-text-label: $color-sec-02;
$color-text-placeholder: $color-sec-02;
$color-text-placeholder-inverse: $color-pri-02;
$color-text-required: $color-err-02;
$color-text-pill: $color-sec-03;
$color-text-action-label: $color-sec-02;
$color-text-action-lable-active: $color-sec-04;
$color-text-browser: $color-white;
$color-text-browser-active: $color-black;
$color-text-customer: $color-att-02;
$color-text-default: $color-ter-04;
$color-text-error: $color-err-02;
$color-text-input-disabled: $color-ter-04;
$color-text-input-focus-inverse: $color-ter-05;
$color-text-input-icon: $color-pri-04;
$color-text-inverse: $color-white;
$color-text-inverse-weak: $color-pri-04;
$color-text-inverse-active: $color-sec-03;
$color-text-inverse-hover: $color-sec-04;
$color-text-link: $color-sec-04;
$color-text-link-active: $color-pri-04;
$color-text-link-disabled: $color-ter-02;
$color-text-link-focus: $color-sec-03;
$color-text-link-hover: $color-sec-03;
$color-text-link-inverse: $color-white;
$color-text-link-inverse-hover: $color-pri-01;
$color-text-link-inverse-active: $color-pri-01;
$color-text-link-inverse-disabled: $color-pri-04;
$color-text-modal: $color-white;
$color-text-modal-button: $color-sec-02;
$color-text-stage-left: $color-pri-02;
$color-text-tab-label: $color-ter-04;
$color-text-tab-label-selected: $color-sec-03;
$color-text-tab-label-hover: $color-sec-02;
$color-text-tab-label-focus: $color-sec-02;
$color-text-tab-label-active: $color-sec-04;
$color-text-tab-label-disabled: $color-ter-03;
$color-text-toast: $color-sec-02;
$color-text-warning: $color-war-02;
$color-text-weak: $color-pri-04;
$color-text-icon-brand: $color-sec-02;

//BORDER
$color-border: $color-pri-02;
$color-border-brand: $color-sec-03;
$color-border-error: $color-err-02;
$color-border-success: $color-suc-02;
$color-border-warning: $color-war-02;
$color-border-tab-selected: $color-sec-04;
$color-border-separator: $color-ter-02;
$color-border-separator-alt: $color-pri-03;
$color-border-separator-alt-2: $color-sec-02;
$color-border-separator-inverse: $color-ter-04;
$color-border-row-selected: $color-sec-03;
$color-border-row-selected-hover: $color-sec-01;
$color-border-hint: $color-att-01;
$color-border-selection: $color-ter-02;
$color-border-selection-hover: $color-ter-01;
$color-border-selection-active: $color-pri-03;
$color-border-canvas-element-selection: $color-sec-02;
$color-border-canvas-element-selection-hover: $color-sec-04;
$color-border-button-brand: $color-sec-03;
$color-border-button-brand-disabled: $color-white;
$color-border-button-default: $color-pri-03;
$color-border-button-inverse-disabled: $color-white;
$color-border-input: $color-pri-02;
$color-border-input-active: $color-sec-02;
$color-border-input-disabled: $color-ter-02;
$color-border-input-checkbox-selected-checkmark: $color-white;

@import
	'../../../node_modules/\@salesforce-ux/design-system/scss/index.scss';

