<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="slds-brand-band slds-brand-band_large">
      <div class="slds-carousel slds-m-around_x-large">
        <div class="slds-carousel__stage">
          <span class="slds-carousel__autoplay">
            <button
              class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small"
              aria-pressed="false"
              title="Stop auto-play"
            >
              <svg class="slds-button__icon" aria-hidden="true">
                <use
                  xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#pause"
                ></use>
              </svg>
              <span class="slds-assistive-text">Stop auto-play</span>
            </button>
          </span>
          <div
            class="slds-carousel__panels"
            style="transform: translateX(--200%)"
          >
            <div
              id="content-id-133"
              class="slds-carousel__panel"
              role="tabpanel"
              aria-labelledby="indicator-id-136"
            >
              <a
                href="#"
                class="slds-carousel__panel-action slds-text-link_reset"
                tabindex="0"
              >
                <div class="slds-carousel__image">
                  <img
                    src="/assets/images/carousel/carousel-01.jpg"
                    alt="Visit App Exchange"
                  />
                </div>
                <div class="slds-carousel__content">
                  <h2 class="slds-carousel__content-title">
                    Visit App Exchange
                  </h2>
                  <p>Extend Salesforce with the #1 business marketplace.</p>
                </div>
              </a>
            </div>
            <div
              id="content-id-134"
              class="slds-carousel__panel"
              role="tabpanel"
              hidden=""
              aria-labelledby="indicator-id-137"
            >
              <a
                href="#"
                class="slds-carousel__panel-action slds-text-link_reset"
                tabindex="-1"
              >
                <div class="slds-carousel__image">
                  <img
                    src="/assets/images/carousel/carousel-02.jpg"
                    alt="Click to Customize"
                  />
                </div>
                <div class="slds-carousel__content">
                  <h2 class="slds-carousel__content-title">
                    Click to Customize
                  </h2>
                  <p>
                    Use the Object Manager to add fields, build layouts, and
                    more.
                  </p>
                </div>
              </a>
            </div>
            <div
              id="content-id-135"
              class="slds-carousel__panel"
              role="tabpanel"
              hidden=""
              aria-labelledby="indicator-id-138"
            >
              <a
                href="#"
                class="slds-carousel__panel-action slds-text-link_reset"
                tabindex="-1"
              >
                <div class="slds-carousel__image">
                  <img
                    src="/assets/images/carousel/carousel-03.jpg"
                    alt="Download SalesforceA"
                  />
                </div>
                <div class="slds-carousel__content">
                  <h2 class="slds-carousel__content-title">
                    Download SalesforceA
                  </h2>
                  <p>
                    Get the mobile app that&#x27;s just for Salesforce admins.
                  </p>
                </div>
              </a>
            </div>
          </div>
          <ul class="slds-carousel__indicators" role="tablist">
            <li class="slds-carousel__indicator" role="presentation">
              <a
                id="indicator-id-136"
                class="slds-carousel__indicator-action slds-is-active"
                href="#"
                role="tab"
                tabindex="0"
                aria-selected="true"
                aria-controls="content-id-133"
                title="Visit App Exchange tab"
              >
                <span class="slds-assistive-text">Visit App Exchange tab</span>
              </a>
            </li>
            <li class="slds-carousel__indicator" role="presentation">
              <a
                id="indicator-id-137"
                class="slds-carousel__indicator-action"
                href="#"
                role="tab"
                tabindex="-1"
                aria-selected="false"
                aria-controls="content-id-134"
                title="Click to Customize tab"
              >
                <span class="slds-assistive-text">Click to Customize tab</span>
              </a>
            </li>
            <li class="slds-carousel__indicator" role="presentation">
              <a
                id="indicator-id-138"
                class="slds-carousel__indicator-action"
                href="#"
                role="tab"
                tabindex="-1"
                aria-selected="false"
                aria-controls="content-id-135"
                title="Download SalesforceA tab"
              >
                <span class="slds-assistive-text"
                  >Download SalesforceA tab</span
                >
              </a>
            </li>
          </ul>
        </div>
      </div>

      <article class="slds-card slds-m-around_x-large">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__figure">
              <span
                class="slds-icon_container slds-icon-standard-account"
                title="account"
              >
                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                  <use
                    xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"
                  ></use>
                </svg>
                <span class="slds-assistive-text">account</span>
              </span>
            </div>
            <div class="slds-media__body">
              <h2 class="slds-card__header-title">
                <a
                  href="#"
                  class="slds-card__header-link slds-truncate"
                  title="Accounts"
                >
                  <span>Accounts</span>
                </a>
              </h2>
            </div>
            <div class="slds-no-flex">
              <button class="slds-button slds-button_neutral">New</button>
            </div>
          </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
          Anything can go into the card body
        </div>
        <footer class="slds-card__footer">
          <a class="slds-card__footer-action" href="#"
            >View All
            <span class="slds-assistive-text">Accounts</span>
          </a>
        </footer>
      </article>
    </div>
  </body>
</html>
